* {
  box-sizing: border-box;
}

body {
  background-color: #4afffa;
  background-image: url(./background.jpg);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  width: max-content;
  font-weight: 600;
}

.container {
  width: max-content;
  border: 1px solid #451202;
  border-radius: 15px;
  background-color: antiquewhite;
  margin: auto;
  margin-top: 5rem;
  padding: 2rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input,
select {
  margin-top: 5px;
  width: 100%;
  padding: 2px;
  border-radius: 5px;
  background-color: antiquewhite;
}

button {
  width: max-content;
  padding: 8px 20px;
  overflow: hidden;
  background-color: #0d063f;
  color: white;
  border: none;
  border-radius: 12px;
  margin-top: 1rem;
}

.errorDisplay {
  text-align: center;
  color: red;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.formulaDisplay {
  display: flex;
  min-width: 200px;
  flex-direction: column;
  justify-content: center;
  font-style: italic;
  color: #0d063f;
  font-size: 13px;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 1rem;
  font-size: 25px;
  margin-bottom: 1.5rem;
  color: rgb(6, 6, 74);
  font-weight: 900;
}

.theory {
  text-align: justify;
  text-justify: inter-word;
  max-width: 700px;
  font-size: 14px;
  margin: 2rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
